@using Knjizara.Models
@model Knjizara.Models.Narudzbenica

@{
    ViewBag.Title = "Izmena narudzbenice";
    Layout = "~/Views/Shared/_NarudzbenicaLayoutPage.cshtml";
}

<div class="panel panel-info">
    <div class="panel-heading">Narudzbenica @TempData["SifraNarudzbenica"]</div>
    <div class="panel-body">
        @using (Html.BeginForm("StavkaNarudzbenicaIzmeni", "ZaposleniStavkaNarudzbenica", FormMethod.Post, new { @class = "form" }))
        {
            // dropdownlist za izbor stavke narudzbenice
            <div class="form-group">
                @Html.Label("Stavke narudzbenice")
                @Html.DropDownList("listaStavkiNarudzbenice", (IEnumerable<SelectListItem>)ViewBag.podaciStavkeNarudzbenice)
            </div>

            <input type="submit" class="btn btn-info" value="Izmenite stavku narudzbenice @TempData["SifraNarudzbenica"]" id="izmeniteStavkaNarudzbenica" />
        }
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">Kreirajte stavku narudzbenice @TempData["SifraNarudzbenica"]</div>
    <div class="panel-body">
        @using (Html.BeginForm("ZaposleniStavkaNarudzbenicaView", "ZaposleniStavkaNarudzbenica", FormMethod.Post, new { @class = "form" }))
        {
            <div>
                <input type="submit" class="btn btn-info" name="dugme" value="Kreirajte stavku narudzbenice @TempData["SifraNarudzbenica"]" id="kreirajteStavkaNarudzbenica" />
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    var narudzbenicaStavkaIzmenite = document.getElementById("izmeniteStavkaNarudzbenica");
    narudzbenicaStavkaIzmenite.addEventListener("click", sIzmenite);

    var narudzbenicaStavkaKreirajte = document.getElementById("kreirajteStavkaNarudzbenica");
    narudzbenicaStavkaKreirajte.addEventListener("click", sKreirajte);

    function sIzmenite(e) {
        var odgovor = confirm("Potvrdite izmenu stavke narudzbenice");
        if (odgovor) {
            e.default();
        }
        else {
            alert("Niste potvrdili izmenu stavke narudzbenice!");
            e.preventDefault();
        }
    }

    function sKreirajte(e) {
        var odgovor = confirm("Potvrdite kreiranje stavke narudzbenice");
        if (odgovor) {
            e.default();
        }
        else {
            alert("Niste potvrdili kreiranje stavke narudzbenice!");
            e.preventDefault();
        }
    }
</script>