@using Knjizara.Models
@model Knjizara.Models.StavkaRacun

@{
    ViewBag.Title = "Stavka racuna";
    Layout = "~/Views/Shared/_StavkaRacunLayoutPage.cshtml";
}

@if (TempData["RacunStavka"] != null)
{
    <div class="alert alert-success">Nova stavka racuna @TempData["SifraRacun"] s rednim brojem @TempData["RacunStavka"] je uspesno kreirana</div>
}

<div class="panel panel-info">
    <div class="panel-heading">Kreirajte novu stavku racuna @TempData["SifraRacun"]</div>
    <div class="panel-body">
        @using (Html.BeginForm("StavkaRacunKreiraj", "ZaposleniStavkaRacun", FormMethod.Post, new { @class = "form" }))
        {
            // polje za unos rednog broja stavke racuna
            <div class=" form-group">
                @Html.LabelFor(m => m.RedniBroj, "Redni broj stavke racuna")
                @Html.TextBoxFor(m => m.RedniBroj, null, new { @class = "form-control", placeholder = "Unesite redni broj stavke racuna", id = "redniBrojStavka" })
                @Html.ValidationMessageFor(m => m.RedniBroj, null, new { @class = "text-danger", id = "redniBrojStavkaValidacija" })
            </div>

            // dropdownlist za izbor artikla stavke racuna
            <div class="form-group">
                @Html.LabelFor(m => m.Artikal, "Artikal stavke racuna")
                @Html.DropDownList("listaArtikala", (IEnumerable<SelectListItem>)ViewBag.podaciArtikli)
            </div>

            // polje za unos kolicine stavke racuna
            <div class="form-group">
                @Html.LabelFor(m => m.Kolicina, "Kolicina stavke racuna")
                @Html.TextBoxFor(m => m.Kolicina, null, new { @class = "form-control", placeholder = "Unesite kolicinu stavke racuna", id = "kolicinaStavka" })
                @Html.ValidationMessageFor(m => m.Kolicina, null, new { @class = "text-danger", id = "kolicinaStavkaValidacija" })
            </div>

            <input type="submit" class="btn btn-info" value="Kreirajte stavku racuna" id="kreirajteStavka" />
        }
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">Potvrdite</div>
    <div class="panel-body">
        @using (Html.BeginForm("KreiranRacun", "ZaposleniRacun", FormMethod.Post, new { @class = "form" }))
        {
            <input type="submit" class="btn btn-info" value="Stavke racuna @TempData["SifraRacun"] su kreirane" id="kreiraneStavke" />
        }
    </div>
</div>
<script type="text/javascript">
    var stavkaRedniBroj = document.getElementById("redniBrojStavka");
    stavkaRedniBroj.addEventListener("blur", proveraRedniBroj);

    var stavkaKolicina = document.getElementById("kolicinaStavka");
    stavkaKolicina.addEventListener("blur", proveraKolicina);

    var stavkaKreirajte = document.getElementById("kreirajteStavka");
    stavkaKreirajte.addEventListener("click", sKreirajte);

    var stavkeKreirane = document.getElementById("kreiraneStavke");
    stavkeKreirane.addEventListener("click", sKreirane);

    function proveraRedniBroj() {
        var redniBroj = document.getElementById("redniBrojStavka").value;

        if (!redniBroj.match(/^\d+/gm)) {
            document.getElementById("redniBrojStavkaValidacija").innerHTML = "Moze se uneti cifra";
            document.getElementById("redniBrojStavka").focus();
        }
    }

    function proveraKolicina() {
        var kolicina = document.getElementById("kolicinaStavka").value;

        if (!kolicina.match(/^\d+/gm)) {
            document.getElementById("kolicinaStavkaValidacija").innerHTML = "Moze se uneti cifra";
            document.getElementById("kolicinaStavka").focus();
        }
    }

    function sKreirajte(e) {
        var uslov = false;

        var textPolja = document.getElementsByClassName("form-control");
        for (element of textPolja) {
            if (element.value == "" || element.value == null) {
                element.placeholder = "Polje je obavezno";
            }
            else {
                uslov = true;
            }
        }

        if (uslov) {
            var potvrda = confirm("Potvrdite kreiranje stavke racuna");

            if (potvrda) {
                e.default();
            }
            else {
                alert("Niste kreirali stavku racuna!");
                e.preventDefault();
            }
        }
        else {
            alert("Niste kreirali stavku racuna!");
            e.preventDefault();
        }
    }

    function sKreirane(e) {
        var odgovor = confirm("Potvrdite kreiranje stavki racuna");
        if (odgovor) {
            e.default();
        }
        else {
            alert("Niste potvrdili kreiranje stavki racuna!");
            e.preventDefault();
        }
    }
</script>